<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ casa }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container my-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
    <a href="{{ url_for('cards') }}" class="btn btn-primary btn-sm">Volver al inicio</a>

    <h1 class="text-center m-0">
        Superhéroes de {{ casa }}
        <img src="{{ url_for('static', filename='logos/' + casa.lower() + '.png') }}" alt="Logo {{ casa }}" style="height: 30px;">
    </h1>

    <!-- Espacio vacío para mantener simetría -->
    <div style="width: 90px;"></div>
</div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for item in personajes %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ item['nombre'] }}</h5>
                    <h6 class="card-subtitle text-muted">{{ item['casa'] }} - {{ item['tipo'] }}</h6>
                    <p class="card-text mt-2"><strong>Nombre real:</strong> {{ item['nombre_real'] }}</p>
                    <p class="card-text"><strong>Año de aparición:</strong> {{ item['anio_aparicion'] }}</p>
                    <p class="card-text"><strong>Equipamiento:</strong> {{ item['equipamiento'] }}</p>
                    <p class="card-text"><strong>Biografía:</strong> {{ item['biografia'] | truncate(50, True, '...') }}</p>
                </div>
                <div class="card-footer bg-light text-center">
                    <a href="{{ url_for('detalle_personaje', nombre=item['nombre']) }}" class="btn btn-primary btn-sm mt-2">Ver detalle</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
